* {
    font-size:10px;
    -webkit-user-select:none;
    text-shadow: 0px 0px 1px #cde;
}
input, select {
    text-shadow: none;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

canvas:active {
    cursor: default;
}

/* ScrollBar */

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #8df;
    border-radius: 5px;
}
*::-webkit-scrollbar-button {
    height: 0px;
}
*::-webkit-scrollbar-track {
    width: 10px;
    background-color: #eee;
    border-radius: 5px;
}
*::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #8df;
    border-radius: 5px;
}
