#dialog {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, 0.8);
    z-index: -10000;
    opacity: 0;
}
#dialog-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -160px;
    margin-left: -240px;
    width: 480px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #8df;
    border-radius: 3px;
}
.dialog-message {
    position: absolute;
    width: 400px;
    height: 200px;
    text-align: center;
}
.dialog-icon {
    width: 100px;
    height: 100px;
    font-size: 100px;
    text-align: center;
}
.dialog-message-main {
    display: block;
    width: 100%;
    height: 36px;
    font-size: 36px;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    color: #444;
}
.dialog-message-sub {
    display: block;
    width: 100%;
    height: 24px;
    margin-top: 12px;
    font-size: 24px;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    -webkit-user-select: text;
    color: #444;
}
.dialog-message i {
    font-size: 100px;
    width: 100px;
    height: 100px;
}
#dialog-success {
    left: 40px;
}
#dialog-error {
    top: 45px;
    left: 40px;
    color: #ccc;
}
#dialog-success i {
    color: #8f8;
}
#dialog-error i {
    color: #ccc;
    margin-bottom: 20px;
}
#dialog-socials {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 60px;
    margin-left: -140px;
    width: 280px;
    height: 80px;
}
.dialog-social {
    display: block;
    width: 64px;
    height:: 64px;
    font-size: 64px;
    text-align: center;
    text-decoration: none;
    color: #ddd;
}
.dialog-twitter {
    position: absolute;
    left: 0px;
}
.dialog-twitter:hover {
    color: #0df;
    cursor: pointer;
}
.dialog-facebook {
    position: absolute;
    right: 0px;
}
.dialog-facebook:hover {
    color: #049;
    cursor: pointer;
}
.dialog-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    color: #eee;
}
.dialog-close:hover {
    color: #666;
    cursor: pointer;
}
