/* top left */

#btn-save {
    position: fixed;
    top: 15px;
    left: 20px;
    width: 18px;
    height: 18px;
    font-size: 18px;
    color: #ccc;
    text-align: center;
    text-shadow: none;
    z-index: 101;
}
#btn-save:hover  {
    cursor: pointer;
    color: #999;
}
#btn-clear {
    position: fixed;
    top: 15px;
    left: 35px;
    width: 20px;
    height: 20px;
    font-size: 18px;
    padding-left:20px;
    color: #ccc;
    text-align: center;
    text-shadow: none;
    z-index: 200;
}
#btn-clear:hover  {
    cursor: pointer;
    color: #999;
}



/* top right */

#social {
    position: fixed;
    top: 15px;
    right: 20px;
    min-width: 100px;
    text-align: right;
    height: 20px;
    z-index: 200;
}
.social {
    float: right;
    height: 20px;
    margin-left: 20px;
    font-size: 18px;
    color: #000;
    text-align: center;
    text-shadow: none;
    opacity: 0.2;
    z-index: 200;
}
.social:hover {
    opacity: 0.6;
    color: #0df;
    cursor: pointer;
}
#hatena {
    width: 18px;
    background-image: url('/static/img/hatebu_18.png');
    background-position: left;
}
#hatena:hover {
    background-position: right;
}
