/* Wrapper */

#wrapper {
    min-width: 100%;
    min-height: 100%;
    overflow: visible;
    transition: all 0.2s ease 0s;
}
#instruments {
    position: absolute;

    width: 800000px;
    max-height: 600px;
    margin: 0px;
    padding: 0px;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -470px;
    /* overflow-y: hidden; */

    transition: all 0.2s ease 0s;
}
.instrument {
    position: relative;
    display: block;
    float: left;

    width: 910px;
    height: 590px;
    margin: 0px;
    padding: 0px;
    margin-right: 200px;

    background-color: #fff;
    border: 1px solid #0df;
    border-radius: 3px;
}
.btn {
    text-shadow: none;
}
#btn-right {
    position: fixed;
    width: 800px;
    height: 600px;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: 450px;

    text-align: left;
    padding: 250px 25px;
    font-size: 100px;

    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(255,255,255,0)),
        color-stop(0.5, rgba(255,255,255,0.9)),
        to(rgba(255,255,255,1.0))
    );
    color: #fafafa;

    z-index: 100;
}
#btn-left {
    display: none;

    position: fixed;
    width: 800px;
    height: 600px;
    top: 50%;
    right: 50%;
    margin-top: -300px;
    margin-right: 480px;

    text-align: right;
    padding: 250px 25px;
    font-size: 100px;

    background: -webkit-gradient(
        linear,
        right top,
        left top,
        from(rgba(255,255,255,0)),
        color-stop(0.5, rgba(255,255,255,0.9)),
        to(rgba(255,255,255,1.0))
    );
    color: #fafafa;

    z-index: 100;
}
#btn-top {
    position: fixed;
    width: 100%;
    height: 600px;
    top: 0px;
    left: -10px;

    text-align: center;
    font-size: 100px;

    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(rgba(255,255,255,0)),
        color-stop(0.5, rgba(255,255,255,0.9)),
        to(rgba(255,255,255,1.0))
    );
    color: #fafafa;

    z-index: 100;
}
#btn-bottom {
    display: none;

    position: fixed;
    width: 100%;
    height: 600px;
    left: -10px;
    bottom: 0px;

    text-align: center;
    padding: 0px;
    font-size: 100px;

    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(255,255,255,0)),
        color-stop(0.5, rgba(255,255,255,0.9)),
        to(rgba(255,255,255,1.0))
    );
    color: #fafafa;

    z-index: 100;
}
#btn-right:hover, #btn-left:hover, #btn-top:hover, #btn-bottom:hover {
    cursor: default;
    color: #eee;
}
.btn:hover:after {
    position: absolute;
    text-align: center;
    font-size: 30px;
    white-space: pre;
    font-family: sans-serif;
    color: #e0e0e0;
    content: attr(data-line1) '\A' attr(data-line2);
}
#btn-left:hover:after {
    width: 100px;
    height: 60px;
    top: 180px;
    right: -15px;
}
#btn-right:hover:after {
    width: 100px;
    height: 60px;
    top: 180px;
    left: -5px;
}
#btn-top:hover:after {
    width: 100%;
    height: 30px;
    top: 0px;
    left: 0px;
}
#btn-bottom:hover:after {
    width: 100%;
    height: 30px;
    bottom: 0px;
    left: 0px;
}
