/* Synthesizer */

.synth-core {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 280px;
    left: 0px;
    transition: all 0.2s ease 0s;
}

.RS_module {
    color: #0df;
    background-color: #fff;
    margin: 0px 10px;
    padding: 0px;
    font-size: 12px;
    text-align: center;
    vertical-align: top;
    line-height: 26px;

    border: 1px solid #0df;
    border-radius: 3px;
}

legend {
    font-size:12px;
}

.clearfix :after {
    display:block;
    clear:both;
    height:0px;
    visibility:hidden;
    content:".";
}

.RS_vco0 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 130px;
    height: 140px;
}
.RS_vco1 {
    position: absolute;
    top: 0px;
    left: 140px;
    width: 130px;
    height: 140px;
}
.RS_vco2 {
    display: none;
}
.RS_VCO > div {
    margin: 0px 15px;
}
.RS_VCO label {
    float: left;
    width: 35px;
    padding-right: 5px;
    font-size: 12px;
    text-align: right;
}
.RS_VCO select {
    float: right;
    width: 55px;
    font-size: 10px;
    text-align: left;
    margin-top: 4px;
}
.RS_VCO input {
    float: right;
    width: 50px;
    font-size: 10px;
    text-align: center;
    margin-top: 4px;
}

.RS_mixer {
    position: absolute;
    top:140px;
    left:0px;
    width:270px;
    height: 128px;
    padding-top: 2px;
}
.RS_mixer > div {
    margin: 4px 20px;
}
.RS_mixer label {
    float: left;
    width: 35px;
    padding-right: 5px;
    font-size: 12px;
    text-align: right;
}
.RS_mixer input {
    float: right;
    width: 170px;
    font-size: 10px;
    text-align: center;
    margin-top: 3px;
}

.RS_EG {
    position: absolute;
    top:0px;
    left:280px;
    width:220px;
    height: 270px;
}
.RS_EG  canvas {
    margin:11px;
    padding-top:30px;
    padding-bottom:2px;
    width: 180px;
    height: 50px;
    border-left:1px solid #0df;
    border-bottom: 1px solid #0df;
}
.RS_EG > div {
    margin: 4px 20px 4px 15px;
}
.RS_EG label {
    float: left;
    width: 50px;
    padding-right: 5px;
    font-size: 12px;
    text-align: right;
}
.RS_EG input {
    float: right;
    width: 120px;
    font-size: 10px;
    text-align: center;
    margin-top: 3px;
}

.RS_FEG {
    position: absolute;
    top:0px;
    left:670px;
    width:220px;
    height: 270px;
}
.RS_FEG  canvas {
    margin:11px;
    padding-top:30px;
    padding-bottom:2px;
    width: 180px;
    height: 50px;
    border-left:1px solid #0df;
    border-bottom: 1px solid #0df;
}
.RS_FEG > div {
    margin: 4px 20px 4px 15px;
}
.RS_FEG label {
    float: left;
    width: 50px;
    padding-right: 5px;
    font-size: 12px;
    text-align: right;
}
.RS_FEG input {
    float: right;
    width: 120px;
    font-size: 10px;
    text-align: center;
    margin-top: 3px;
}

.RS_filter {
    position: absolute;
    top: 0px;
    left: 510px;
    width: 150px;
    height: 270px;
}
.RS_filter_freq {
    float: left;
    text-align: center;
    left: 0px;
    margin: 0px 10px;
    width: 60px;
}
.RS_filter_Q {
    float: left;
    text-align: center;
    width: 60px;
    margin: 0px;
}
.filter_slider {
    width: 60px;
    height: 195px;
    margin-top: 7px;
    -webkit-appearance: slider-vertical;
}
